{{#bs-navbar class='sidebar' as |navbar|}}
  {{#navbar.toggle}}
    <span class="sr-only">Toggle menu</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  {{/navbar.toggle}}
  {{#navbar.content}}
    {{side-menu}}
  {{/navbar.content}}
{{/bs-navbar}}
