<div class="container authentication">
  <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-primary">

      <div class="panel-heading">
        <div class="panel-title">
          <span class="brand">
            <i class="glyphicon glyphicon-book"></i>
            Toptal
          </span>
          {{#if subtitle}}
            - {{subtitle}}
          {{/if}}
          {{#if back}}
            <a {{action (go-back)}} class="pull-right">Back</a>
          {{/if}}
        </div>
      </div>

      <div class="panel-body" >
        {{flash-messages}}
        {{yield}}
      </div>

    </div>
  </div>
</div>
