<h1>Hey <%= @resource.first_name %>!</h1>

<p>This is an answer for the request to change your password.</p>

<p>Here is the token: <%= @token %></p>

<p>If you didn't request a change of password, please ignore this e-mail.</p>
